body {
  font-family: 'Love Ya Like A Sister';
  color: #00a3bc;
  box-sizing: border-box;
}

#edit {
  display: none;
}

#knit {
  opacity: 0.5;
  /* Set rules to fill background */
  min-height: 100vh;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


.u-full-width img {
  width: 100%;
  display: block;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;

}

#nav-row {
  background-color: #f5f7e9;
}

.nav {
  overflow: auto;
  border: 1px solid #00a3bd;
}

#inventor {
  float: left;
  margin: 1%;
}

.nav-list-div {
  /*text-align: left;
  vertical-align: center;*/
  margin-right: 1%;
  margin-top: 2.5%;

}

.nav-list {
  display: inline;
}

.nav-list li {
  display: inline-block;
  list-style: none;
}

.nav-list a {
  list-style: none;
  text-decoration: none;
  padding: 5px;
}

.nav-list ul {
  display: inline;
  margin-top: 2%;
}
/*#herow {
  position:relative;
}*/
#img-div {
  position: relative;
  display: inline-block;
}

#cheers {
  position: relative;
}

#inventors {
  top: 66%;
  left: 2%;
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

.panel1, .panel2, .panel3 {
  background-color: #f5f7e9;
  margin-top: 5%;
  padding: 1%;
}

.panel1 ul, .panel2 ul, .panel3 ul {
  padding: 3%;
  font-size: 2rem;
}

.panel1 img, .panel2 img, .panel3 img{
  width: 100%;
}

.footer {
  background-color: #f5f7e9;
  border: 1px solid #00a3bd;
  margin: 5% 0%;
  padding: 2%;
}

.footer i {
  padding: 5px;
}

.connect li {
  list-style: none;
}

/*--MEDIA QUERY--*/

@media screen and (max-width: 499px) {
  .nav-list-div {
    float: left;
  }

  .menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
  }

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
  }

.responsive-menu{
	display: none;
  }

.expand {
	display: block !important;
  }
}

@media screen and (min-width: 500px) {
  .nav-list-div {
    float: right;
  }
}


@media screen and (max-width: 979px) {
  .panel1, .panel2, .panel3 {
    min-width: 100%;
  }
  .columns {
    margin-left: 0;
  }
}


@media screen and (min-width: 980px) {
  #edit {
    display: block;
    opacity: 0.1;
    /* Set rules to fill background */
    min-height: 100vh;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  #knit {
    display: none;
  }

}
