body {
  font-family: 'Love Ya Like A Sister';
  color: #00a3bc;
  box-sizing: border-box;
}

#edit {
  display: none;
}

#knit {
  opacity: 0.5;
  /* Set rules to fill background */
  min-height: 100vh;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.u-full-width img {
  width: 100%;
  display: block;
}
.u-full-width {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px grey;
}

.nav {
  overflow: auto;
}

#inventor {
  float: left;
  margin: 1%;
}

.nav-list-div {
  text-align: right;
  vertical-align: center;
  margin-right: 1%;
  margin-top: 2.5%;
}

.nav-list {
  display: inline;
}

.nav-list li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

.nav-list ul {
  display: inline;
  margin-top: 2%;
}
/*#herow {
  position:relative;
}*/
#img-div {
  position: relative;
}
#inventors {
  top: 300px;
  left: 100px;
  position:absolute;
}
.panel1, .panel2, .panel3 {
  background-color: #f5f7e9;
  margin-top: 5%;
  padding: 1%;
}

.panel1 ul, .panel2 ul, .panel3 ul {
  padding: 3%;
  font-size: 2rem;
}

.panel1 img, .panel2 img, .panel3 img{
  width: 100%;
}


/*--MEDIA QUERY--*/

@media screen and (max-width: 500px) {
  .nav-list-div {
    float: left;
  }
}

@media screen and (max-width: 979px) {
  .panel1, .panel2, .panel3 {
    min-width: 100%;
  }
  .columns {
    margin-left: 0;
  }
}


@media screen and (min-width: 980px) {
  #edit {
    display: block;
    opacity: 0.1;
    /* Set rules to fill background */
    min-height: 100vh;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  #knit {
    display: none;
  }

}
